{
  "env": {
    "node": true,
    "jest": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": ["node_modules"],
  "parserOptions": {
    "sourceType": "module",
    "project": "./jsconfig.json"
  },
  "plugins": ["simple-import-sort", "unused-imports", "import"],
  "root": true,
  "rules": {
    "max-len": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "singleQuote": true,
        "trailingComma": "all",
        "tabWidth": 2,
        "semi": false,
        "printWidth": 70,
        "jsxSingleQuote": true,
        "bracketSpacing": true,
        "jsxBracketSameLine": true,
        "arrowParens": "avoid"
      }
    ],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off",
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [["^\\u0000"], ["^@?\\w"], ["^app(/.*|$)"], ["^\\."]]
      }
    ],
    "import/newline-after-import": "error",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "sort-imports": "off",
    "import/order": "off"
  }
}
